<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scenario.description %>
</p>

<p>
  <strong>Background:</strong>
  <%= @scenario.background %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @scenario.feature.title %>
</p>

<table class="table">
  <thead>
    <td>ID</td>
    <td>Description</td>
  </thead>
  <tbody>
<% @scenario.steps.each do |step| %>
    <tr>
      <td><%= step.id %></td>
      <td><%= step.description %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_feature_scenario_path(@feature, @scenario) %> |
<%= link_to 'Back', feature_path(@feature) %>
