<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2><%= @feature.title %></h2>
    <p class="lead"><%= @feature.descripion %></p>
  </div>
</div>

<hr>

<% @feature.scenarios.each do |scen| %>
  <div class="row">
    <div class="col-md-12">
        <h3>Feature: <%= scen.description %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <% scen.steps.each do |step| %>
        <p><%= step.description %></p>
      <% end %>
    </div>
  </div>
<% end %>

<hr>

<%= link_to 'New Scenario!', new_project_feature_scenario_path(@project, @feature) %> |
<%= link_to 'Edit', edit_project_feature_path(@project, @feature) %> |
<%= link_to 'Back', project_path(@project) %>
