<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feature.title %>
</p>

<p>
  <strong>Descripion:</strong>
  <%= @feature.descripion %>
</p>

<p>
  <strong>Project:</strong>
  <%= @feature.project.title %>
</p>

<%= link_to 'Edit', edit_project_feature_path(@project, @feature) %> |
<%= link_to 'Back', project_features_path %>
